---
---


// core frameworks 
@import 'bourbon/bourbon';
@import "neat/neat-helpers"; // or "neat-helpers" when in Rails

// framework files
@import "__proto-grid-settings";
@import '__proto-reset';            // reset formula
@import 'neat/neat';  
@import '__proto-framework';        // framework prototype framework. Grids, distances and sizes.







// adding '/' refers to server root, and " " refers to relative root (dropbox would use this)
// needs to match config.yml, but this is for css-loaded assets
$siteroot: '../../';


// 
// Main Design
// 
@import "fluidbox.css";  
@import 'colors';                 // colors
@import 'mixins';                 // mixins (relies on colors)
@import 'settings';               // general settings (relies on mixins, colors)
// @import "collapsible";  
// @import "triangles";  

// @import "icongenerator";          // generates svg icons
// @import "icons";                  // svg iconography
// @import "navigation";             // left nav
// @import "filterBtns";             // filter buttons on the main page
// @import "timeline";               // timeline used in about




// 
// CLEARFIX
// 
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */




// 
// UNIVERSAL STYLES
// general, reusable styles
// 
html {
  // background-color: $silversky;
  background-color: $color-bg;
}

* {
  // @extend %ease-slow;
}

body, html {
  // @extend %ease-slow;
  @extend %sans-serif;
  line-height: $height-p;

  @extend %text;
}



@import "homepage";
@import "menu";
@import "slope";




// ensures footer is at bottom
// when content isn't tall enough
$footer_height: 98px;

* {
  margin: 0;
}
html, body {
  // height: 100%;
}
.wrapper {
  // min-height: 100%;
  // height: auto !important;
  // height: 100%;
  // margin: 0 auto $footer_height*-1;
  background: $color-bg;
}


.main__footer {
  height: $footer_height;
  @extend %serif;
  text-align: center;
  font-size: $size-footer;
  font-weight: 300;
  padding: $base;// * 2;
  a:hover { text-decoration: underline; }
  // margin-top: $base * 5;
  // @extend %background;
  color: $medium-gray;
}
  .footer-contact {
    font-weight: 300;
    font-size: $base * 1.6;
    letter-spacing: 1.2px;
    text-decoration: none;
    line-height: 64px;
    color: $color-teal;
    @extend %ease;
    &:hover {
      @extend %ease;
      color: $color-purple;
    }
  }
  .main__footer__slope {
    .slope-content {
      padding-top: $base*2;
      padding-bottom: $base;
    }

    .slope-negThreeInverse {
      background-color: $color-bg;
      padding-bottom: $base * 2;
    }
  }






// iterum basic


._border-bottom {
  &-teal {
    border-bottom: 6px solid;
    border-color: $color-teal;
  }
  &-gray {
    border-bottom: 12px solid;
    border-color: #DFE0E2;
  }
}


  // layout

  ._subSection, %subSection, .row, %row {
    @include span-four(24, 24, 24, 24);
    padding-bottom: $base*2;
  }
    // ._subSection-wider {
    //   margin-left: -10%;
    //   margin-right: -10%;
    //   // width: 120%;
    //   position: relative;

    //   @include _showMediumWidth {
    //     margin: 0;
    //   }
    // }

  .section-half {
    @include span-four(24, 24, 12, 12);

    &:first-of-type {
      padding-right: $base*2;
    }
    &:last-of-type {
      padding-left: $base*2;
    }

    @include _showSmallWidth {
      margin-top: $base*2;
      &:first-of-type {
        margin-top: 0;
      }
        padding: 0 !important;
    }
  }
  .section-third {
    @include span-four(24, 8, 8, 8);
  }
  .section-twothird {
    @include span-four(24, 16, 16, 16);
  }


// whitespacers

.roomy-vertical {
  padding-top: $base;
  padding-bottom: $base*2;
}
  


// typography

.justify {
  text-align: justify;
}


._noPadding {
  padding: 0 !important;
}
._paddingTop {
  padding-top: $base * 4 !important;
  margin-top: $base * 3;
}
._noPadding-top {
  padding: 0 !important;
}
._noPadding-bottom {
  padding-bottom: 0 !important;
}
._paddingBottomLarge {
  padding-bottom: 140px;
}
._marginBottomNegativeLarge {
  margin-bottom: -120px;
}
._marginLeftRightNone {
  margin-left: 0;
  margin-right: 0;
}

._noMargin {
  margin: 0;
}


section {
  @extend %background;
}

._content {
  // margin: 0 $base*6;
  margin: 0 $base*3;
  // @include span-four(24, 16, 16, 16);
  @include _showMediumWidth {
    margin: 0 $base*2;
  }
}

._windowHeight {
  overflow: hidden;
}

._parallax {
  position: relative;
}
  ._parallax-frame {
    position: relative;
  }
    #hangin {
      @include _showHugeWidth {
        top: -150px;
      }
      @include _showMediumWidth {
        top: -250px;
      }
      @include _showSmallWidth {
        top: -150px;
      }
    }
    #video {
      @include _showSmallWidth {
        max-height: 350px;
      }
    }
    #skyjam {
      top: 0px;
      @include _showHugeWidth {
        top: -100px;
      }
      @include _showSmallWidth {
        top: 100px;
      }
    }
    #fiji {
      top: 50px;
    }



._imageFrame {
  span {
    display: inline-block;
    width: 100%;
    height: 130px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
  }

}

._anchor {
  position: relative;
  top: -50px;
  visibility: hidden;
}

._center {
  text-align: center;
}

// ._subSection {/
  p {
    margin-bottom: $base*1.5;
  }
// }

._hidden {
  display: none !important;
}

._alignRight {
  text-align: right;
}

.sidebar {
  padding-top: $base * 0.3;
  // text-align: right;
  padding-left: $base * 3;

  @include _showTinyWidth {
    padding-left: 0;
    padding-bottom: $base;
  }

  ul {
    li {
      list-style-type: none;
      line-height: 1.5rem;
      padding-bottom: 1rem;
    }
  }

  h5 {
    padding-top: $base*2;
    &:first-of-type {
      padding-top: 0;
    }
  }
}

._toggle {
  text-align: center; 
  display: block;

  span {
    background: $color-base-white;
    padding: $base/2 $base;
    position: relative;
    z-index: 1;
  }

  &:after {
    content: ' ';
    display: block;
    position: relative;
    border-bottom: 1px solid $gray;
    bottom: $base;
    @extend %ease;
  }
  // padding: $base/2 $base;
  // color: $white !important;
  // background-color: rgba($color-purple, 0.8);

  &:hover {
    // background-color: rgba($color-purple, 1);
    &:after {
      border-bottom: 1px solid $color-purple;
      @extend %ease;
    }
  }
}



.fluidbox__wrap {
  @extend %ease;
  img {
    @extend %ease;
  }

  &:hover img {
    filter: grayscale(100%);
    opacity: 0.8 !important;
    @extend %ease;
  }

}


