

// INTRO BLOCK

.intro {
  position: fixed;
  width: 100%;
  z-index: $z-top;
  opacity: 1;
  height: 100%;
  @include ease(130ms, height opacity);

  #intro-block {
    display: block;
  }

  .home-hero {

    position: relative;
    z-index: 100;

    .slope-container {
      // background-color: $silversky;
      // use as the bottom of a menu bg container
    }

    .slope-content {
      padding-top: 0;
    }

    .slope-negThree {
      background-color: $color-pureblack;
      // height: 94vh;
    }

    .intro-hero-container {
      // position: relative;
      position: fixed;
      width: 100%;
    }

    .intro-hero {
      background: url('../../app/images/hero.jpg');
      // height: 100%;
      height: 600px;
      width: 800px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: calc(50%)  0; // image not completely centered
      // background-color: $color-pureblack;
      display: inline-block;
      width: 100%;
      max-width: 800px;
      // opacity: 0.4;
      // width: 100%;
    }

    .home-logo {
      // background: url('../../app/images/iterum.png');
      // width: 100%;
      position: fixed;
      padding-top: 100px;
      width: 100%;

      img {
        width: 200px;
        position: relative;
      }
    }
  }

}


  .home-main {
    #home-main-content {
      margin-top: 640px;
    }
    .home-main-content {
      // padding-top: 120px;

      a {
        text-decoration: none;
        color: $color-teal;

        &:hover {
          color: $color-purple;
        }
      }
    }
    .home-main-hero {
      height: 1240px;
      overflow:hidden;

      @include _showMediumWidth {
        height: 940px;
        padding-top: 200px;
      }
    }

    &:before {
      display: block;
      content: '';
      background: url('../../app/images/iterum.png');
      height: 100vh;
      position: fixed;
      width: 100%;
      opacity: 0.03;
      margin: 0 auto;
      top: 0%;
      background-position: center;
      background-repeat: no-repeat;
    }

    // this preserves the slope
    margin-top: -$base*10;
    padding-top: $base*10;

    color: $color-base; 

    .container {
      position: relative;
      z-index: 50;
      padding-top: $base*2;
      padding-bottom: $base*4;
      padding-left: $base*3;
      padding-right: $base*3;
    }

    .home-statement {
      margin-top: -$base*3;
      // padding-top: $base;
      // padding-bottom: $base;
      // width: 90%;

      .home-intro {
        @extend %h1;
        // text-align: center;
        padding-top: $base * 3;
        padding-bottom: $base;
      }
      .home-intro-desc {
        @extend %h3;
        padding-top: 0; //$base*2;
        padding-bottom: $base*2;
      }

      span {
        color: $dark-gray;
        // padding-bottom: $base;
      }
    }
      .home-statement-box {
        // margin: $base*2 0;
        padding: $base/2 0;
        font-size: 2.1rem;

        a {
          line-height: $base*4;
          text-decoration: none;
          padding: 4px 12px;
          background-color: rgba($color-purple, 0.8);
          color: $white !important;
          @extend %ease;
          cursor: pointer;

          &:hover {
            background-color: rgba($color-purple, 1);
            @extend %ease;
            cursor: pointer;
          }
        }
      }

    .home-box {
      @extend %serif;
      font-weight: 600;
      line-height: $base*3.9;
      color: black;
      font-size: $base*2.4;
      display: inline-block;
      float: right;
      padding: $base*2;
      /* padding-right: 4rem; */
      background: #f0f0f0;
      margin: 0 $base*2;
      padding: $base*2;
      margin: 0 $base*4;

      .aerialist {
        color: $color-teal;
        font-size: $base*3;
        line-height: $base*3.9;
      }
    }

  }




.home-performance {
  // padding-top: $base*7;
  padding-bottom: $base*4;
  margin-left: 5rem;
  margin-right: 5rem;


  @include _showSmallWidth {
    margin-left: 0;
    margin-right: 0;
  }

  background: $silver;
}



.contact-card {
  padding: $base;
  background-color: $light-gray;
  margin-bottom: $base*2;

  @extend %shadow-drop;
}

.section-week {
  margin-top: $base*3;
}
.section-class {
  margin-top: $base;
  display: inline-block;
  float: left;
  margin-right: $base*4;

  padding-left: $base;
  border-left: 1px solid $color-purple;
  min-width: 240px;

  p {
    margin: 0;
  }
}
  .section-class-container {
    margin-left: $base*2;
  }

.section-title {
  font-size: 21px;
  display: inline-block;
  padding: $base/2 $base;
  background: rgba($color-purple, 0.8);
  color: $white;
  font-weight: 300;
  letter-spacing: 1px;
  margin-bottom: $base;
  margin-right: $base;
}

  .section-value {
    font-size: $base*1.4;
  }
  .section-link a {
    font-size: $base*1.4;
    text-decoration: none;
    color: $color-teal;

    &:hover {
      color: $color-purple;
    }
  }

.contact-section {
  margin-bottom: $base;
}
  .contact-section-title {
    font-size: 21px;
  }
  .contact-section-value a {
    font-size: $base*1.4;
    text-decoration: none;
    color: $color-teal;

    &:hover {
      color: $color-purple;
    }
  }


.button-social {
  display: inline-block;
  font-size: $base*1.4;
  padding: $base/2 $base;
  // padding-left: 0;
  margin-right: $base * 2;
  text-decoration: none;
  color: $color-pureblack;
  background-color: $dark-silver;
  cursor: pointer;
  line-height: 48px;
  @extend %ease;

  &:hover {
    background-color: $color-purple;
    color: white !important;
    @extend %ease;
  }

  &.facebook {
    &:before {
      display: inline-block;
      content: ' ';
      width: $base*2;
      height: $base*2;
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      top: 7px;
      margin-right: 9px;
      background-image: url('../../app/images/facebook.png');
    }

    &:hover {
      background-color: #3B5998;
    }
  }

  &.instagram {
    &:before {
      display: inline-block;
      content: ' ';
      width: $base*2;
      height: $base*2;
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      top: 7px;
      margin-right: 9px;
      background-image: url('../../app/images/instagram.png');
    }
  }
}




.gallery {
  position: relative;
  left: -1%;
  width: 102% !important;

  .gallery-image {
    width: 31.33333%;
    margin: 0 1%;
    .fluidbox__thumb {
      width: 100%;
    }
  }

  .gallery_img {
    // width: 33%;
    // margin-right: $base/2;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    display:inline-block;
    box-sizing: content-box;

  }
}


.intro._fade {
  opacity: 0;
  // height: 0;
  @include ease(130ms, height opacity);
}
.no-skrollr {
  ._fade {
    // opacity: 1 !important;
    height: auto !important;
    // @include ease(130ms, height opacity);
  }
}


.main__footer__slope {
  @include _showMediumWidth {
    position: relative;
    bottom: -120px;
  }
}




.home-event {
  padding: $base $base*2;
  overflow: hidden;

  & {
    background-color: $dark-silver;
  }

  h2, h3, h4 {
    padding: 0;
    background-color: $dark-silver;
  }

  .home-event-date {
    font-weight: 600;
    padding-bottom: $base/2;
  }
  img {
    width: 100%; 
  }
}






